<?php
$this->headTitle('Edit User Account #'.$this->user->getId());
?>
<div class="container">
<div class="row">
<div class="span12">
<div class="page-header">
	<h1>Edit User Account #<?php echo $this->user->getId(); ?></h1>
	<p class="muted">Account originally created on <?php echo $user->getDateCreated()->format('l jS F Y H:i'); ?></p>
</div>

<div class="well">
<?php
$form = $this->form;
$form->setAttribute('class', 'form-horizontal');
echo $this->form()->openTag($form);
foreach($form->getElements() as $element) {
	if(!$element instanceof \Zend\Form\Element\Button) {
		echo $this->bsFormRow($element);
	} else {
		?>
			<div class="form-actions">
				<?php
				$element->setAttribute('class', 'btn btn-primary');
				echo $this->formButton($element);
				?>
				<a class="btn btn-link" href="<?php echo $this->url('ng_user_admin'); ?>">Cancel</a>
			</div>
		<?php
	}
}
//echo $this->formSubmit($form->get('saveUser'));
echo $this->form()->closeTag($form);
?>
</div>
<script type="text/javascript">
	if(typeof jQuery !== 'undefined') {
		$(function() {
			$('#netglue_user input').tooltip({ placement: 'right', trigger: 'focus'});
		});
	}
</script>
</div>
</div>
</div>
