<?php

/**
 * User Admin Dashboard
 */

$this->headTitle('User Administration');

?>

<div class="container">
<div class="row">
<div class="span12">

<div class="page-header">
	<h1>User Administration</h1>
</div>


<input type="search" autocomplete="off" name="userSearch" id="userSearch" placeholder="Enter partial username or email address" class="input-block-level">
<p class="muted"><small>Enter a partial username or email address to find matching users. Select a user to edit their account</small></p>
<p><a class="btn btn-primary" href="<?php echo $this->url('ng_user_admin/create'); ?>"><i class="icon-white icon-plus-sign"></i> New User</a></p>

</div>

</div>
</div>
<script>

$(function() {
	
	$('#userSearch').typeahead({
		minLength: 3,
		source: function(query, typeahead) {
			var thplugin = this;
			var uri = "<?php echo $this->url('ng_user_admin/search_json'); ?>" + "/" + query;
			$.getJSON(uri, function(data) {
				var results = $.makeArray(data.results);
				thplugin.tempStorage = results;
				results = $(results).map(function(i,item) {
					var out = [];
					out.push(item.email);
					if(item.username) {
						out.push("(" + item.username + ")");
					}
					if(item.active) {
						out.push("[Active]");
					} else {
						out.push("[Inactive]");
					}
					return out.join(" ");
				});
				return typeahead(results);
			});
		},
		updater: function(item) {
			var data = item.split(' ');
			var email = data[0];
			$(this.tempStorage).each(function(index, el) {
				if(el.email === email) {
					var uri = "<?php echo $this->url('ng_user_admin/edit'); ?>" + "/" + el.id;
					window.location = uri;
				}
			});
		},
		matcher: function(item) {
			return true;
		}
	});

});

</script>