<?php
$this->headTitle('Error 403: Unathorized');
?>
<div class="page-header">
	<h1>Unathorized</h1>
	<p class="text-error">Sorry, you don't appear to have sufficient permission to access the requested resource</p>
</div>