<?php

?>

<div class="page-header">
	<h1>Welcome <?php echo $this->escapeHtml($this->user->getEmail()); ?></h1>
	<div class="btn-group">
		<a class="btn" href="<?php echo $this->url('ng_user_public/logout'); ?>">Sign Out</a>
		<a class="btn" href="<?php echo $this->url('ng_user_public/password'); ?>">Change Password</a>
	</div>

		
</div>


<?php