<?php
$this->headTitle('Update Your Account Password');
?>

<div class="page-header">
	<h1>Update Your Password</h1>
</div>

<div class="well">
<?php
$form = $this->form;
$form->setAttribute('class', 'form-horizontal');
echo $this->form()->openTag($form);
foreach($form->getElements() as $element) {
	if(!$element instanceof \Zend\Form\Element\Button) {
		echo $this->bsFormRow($element);
	} else {
		?>
			<div class="form-actions">
				<?php
				$element->setAttribute('class', 'btn btn-primary');
				echo $this->formButton($element);
				?>
				<a class="btn btn-link" href="<?php echo $this->url('ng_user_public/home'); ?>">Cancel</a>
			</div>
		<?php
	}
}
echo $this->form()->closeTag($form);
?>
</div>
<script type="text/javascript">
	if(typeof jQuery !== 'undefined') {
		$(function() {
			$('#netglue_change_password input').tooltip({ placement: 'right', trigger: 'focus'});
		});
	}
</script>
